.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border: 1px solid #000;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.front {
  transform: translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.animate {
  animation: rotate 10s linear forwards;
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  75% {
    transform: rotateX(1440deg) rotateY(1440deg) rotateZ(1440deg);
  }
  100% {
    transform: rotateX(2160deg) rotateY(2160deg) rotateZ(2160deg);
  }
}
